body {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
}
.text {
  font-size: 20px;
  font-family: verdana;
}
.dot {
  position: absolute;
  background-color: lightblue;
  height: 0;
  width: 0;
  border-radius:50%;
  left: 0;
  top: 0;
  visibility: hidden;
  /*aspect-ratio: 3 / 1;*/
  animation: color1 1s ease-in-out;
  transition: 2s;
/*origin position gør at cirklerne trækker til højre når de skåleres ned*/
  transform-origin: 100% center;
}
@keyframes color1 {
  0% {filter: hue-rotate(10deg); visibility: visible}
  90% {filter: hue-rotate(270deg);}
  100% {filter: hue-rotate(370deg); visibility: hidden; transform: scale(0)}
}